rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function getUserData() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
    }

    function hasRole(role) {
      return isSignedIn() && getUserData().role == role;
    }

    function hasAnyRole(roles) {
      return isSignedIn() && getUserData().role in roles;
    }

    function belongsToCompany(doc) {
      return getUserData().companyId == doc.companyId;
    }

    // Reglas para la colección 'users'
    match /users/{userId} {
      // Cualquier usuario autenticado puede leer perfiles para que la app funcione.
      allow read: if isSignedIn();
      // Solo admins pueden crear, actualizar o borrar usuarios.
      // La Cloud Function se encargará de la creación.
      allow write: if hasAnyRole(['superAdmin', 'admin']);
    }

    // Reglas para la colección 'companies'
    match /companies/{companyId} {
      allow get, list: if hasAnyRole(['superAdmin', 'admin']);
      allow write: if hasRole('superAdmin');
    }

    // Reglas para todas las demás colecciones
    match /{document=**} {
      allow read: if hasRole('superAdmin') || (hasAnyRole(['admin', 'editor', 'viewer']) && belongsToCompany(resource.data));
      allow write: if hasRole('superAdmin') || (hasAnyRole(['admin', 'editor']) && belongsToCompany(request.resource.data));
    }
  }
}
